<div class="social-area-syncer">
  <ul class="social-button-syncer">
    <!-- Twitter -->
    <li class="sc-tw"><a data-url="{{site.baseurl}}" href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-count="horizontal" data-dnt="true">ツイート</a></li>

    <!-- Facebook -->
    <li class="sc-fb"><div class="fb-like" data-href="{{site.baseurl}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div></li>
    <!-- はてなブックマーク -->
    <li><a href="http://b.hatena.ne.jp/entry/{{site.baseurl}}" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard" data-hatena-bookmark-lang="ja" title="このエ>ントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border:none;" /></a></li>
  </ul>
  <!-- Facebook用 -->
  <div id="fb-root"></div>
</div>
