/******************************
 * ソーシャルエリア全体を囲む要素
 * 他のコンテンツと距離を取りたい場合は[margin]を設定して下さい
 ******************************/
.social-area-syncer {
  width: 100% ;
  min-height: 90px ;
  background: #ffffff;  /* 背景色 */
  padding: 1em 0 ;
}

/* デスクトップPCでは高さを拡張する */
@media screen and ( min-width:480px ) {
  .social-area-syncer {
     min-height: 89px;
  }
}

/******************************
  [ul]要素
 ******************************/
/* スマホ */
ul.social-button-syncer
{
  width: 238px ;
  margin: 24px auto ;
  padding: 0 ;
  border: none ;
  list-style-type: none ;
}

/* デスクトップ */
@media screen and ( min-width:480px ) {
  ul.social-button-syncer {
    width: 410px;
  }
}

/******************************
  [li]要素
 ******************************/
ul.social-button-syncer li
{
  float: left ;
  height: 41px ;
  margin: 0 8px ;
  padding:0 ;
}

/******************************
  各種ボタン
 ******************************/
/* [Twitter] */
.sc-tw {
  width: 90px;
}

/* [Facebook] */
.sc-fb {
  z-index: 99 ;
  width: 90px;
}

.fb_iframe_widget > span {
  vertical-align: baseline !important;
}

/* [Hatena] */
.hatena-bookmark-button-frame {
  z-index: 98 ;
  width: 90px; 
}
